/* PC */
@media (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

/* Tablet && Mobile */
@media (max-width: 991.98px) {

    /* 1. Ẩn navbar trên tablet và mobile */
    .navbar {
        display: none;
    }

    /* 2. Chuyển logo vào giữa */
    .header-top {
        position: relative;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*3. Căn lại vị trí của menu icon */
    .menu-header__icon {
        position: absolute;
        top: 38px;
        left: 24px;
        width: 28px;
        color: #FFF;
    }

    /* 4. Overlay */
    .menu-overlay {
        position: fixed;
        background: #0000004d;
        inset: 0;
        z-index: 1;
        /* Bình thường ẩn overlay đi */
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
    }

    /* 5. Kiểm tra nếu checkbox được check thì hiện overlay */
    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    /* 6. Code cho menu drawer */
    .menu-drawer {
        padding: 36px;
        position: fixed;
        background: #0d2c49;
        inset: 0 45% 0 0;
        z-index: 2;
        transform: translate(-100%);
        transition: 0.4s;
    }

    /* 7. Kiểm tra nếu checkbox được check thì hiện menu */
    .menu-checkbox:checked~.menu-drawer {
        transform: translate(0);
    }

    /* 8. Menu top */
    .menu-drawer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .close__menu {
        width: 26px;
        color: #FFF;
    }

    #navbar__list--mobile {
        margin-top: 25px;
    }

    .navbar__link {
        display: block;
        font-size: 1.8rem;

        &:hover {
            background: #0d2c49c7;
        }
    }

    /* 9. Code phần hero */
    .hero {
        flex-direction: column-reverse;
        row-gap: 40px;
    }

    .hero__content {
        width: 80%;
        text-align: center;
        margin: 22px auto;
    }

    .hero__row {
        justify-content: center;
    }

    /* 10. Code phần service */
    .service__row {
        flex-direction: column;
        row-gap: 40px;
    }

    .service__img {
        width: 760px;
    }

    .service__list {
        text-align: center;
        margin: 0 auto;
    }

    .service-item {
        text-align: start;
        width: 90%;
    }

    /* 11. Code phần work*/
    .work-list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    /* 12. Code phần About */
    .about-row {
        flex-direction: column;
    }

    /* ẩn ảnh small */
    .about__img--small {
        display: none;
    }

    .about__media {
        width: 100%;
    }

    .about__img--big {
        width: 100%;
        border-radius: 15px;
        margin: 20px auto;
    }

    .about-content {
        width: 90%;
        text-align: center;
    }
}








/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Mobile */
@media (max-width: 767.98px) {}


.footer {
    display: none;
}