/* PC */
@media (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

/* Tablet && Mobile */
@media (max-width: 991.98px) {

    /* 1. Ẩn navbar trên tablet và mobile */
    .navbar {
        display: none;
    }

    /* 2. Chuyển logo vào giữa */
    .header-top {
        position: relative;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*3. Căn lại vị trí của menu icon */
    .menu-header__icon {
        position: absolute;
        top: 38px;
        left: 24px;
        width: 28px;
        color: #FFF;
    }

    /* 4. Overlay */
    .menu-overlay {
        position: fixed;
        background: #0000004d;
        inset: 0;
        z-index: 1;
        /* Bình thường ẩn overlay đi */
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
    }

    /* 5. Kiểm tra nếu checkbox được check thì hiện overlay */
    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    /* 6. Code cho menu drawer */
    .menu-drawer {
        padding: 36px;
        position: fixed;
        background: #0d2c49;
        inset: 0 45% 0 0;
        z-index: 2;
        transform: translate(-100%);
        transition: 0.4s;
    }

    /* 7. Kiểm tra nếu checkbox được check thì hiện menu */
    .menu-checkbox:checked~.menu-drawer {
        transform: translate(0);
    }

    /* 8. Menu top */
    .menu-drawer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .close__menu {
        width: 26px;
        color: #FFF;
    }

    #navbar__list--mobile {
        margin-top: 25px;
    }

    .navbar__link {
        display: block;
        font-size: 1.8rem;

        &:hover {
            background: #0d2c49c7;
        }
    }

    /* 9. Code phần hero */
    .hero {
        flex-direction: column-reverse;
        row-gap: 40px;
    }

    .hero__content {
        width: 80%;
        text-align: center;
        margin: 22px auto;
    }

    .hero__row {
        justify-content: center;
    }

    /* 10. Code phần service */
    .service__row {
        flex-direction: column;
        row-gap: 40px;
    }

    .service__img {
        width: 760px;
    }

    .service__list {
        text-align: center;
        margin: 0 auto;
    }

    .service-item {
        text-align: start;
        width: 90%;
    }

    /* 11. Code phần work*/
    .work-list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    /* 12. Code phần About */
    .about-row {
        flex-direction: column;
    }

    /* ẩn ảnh small */
    .about__img--small {
        display: none;
    }

    .about__media {
        width: 100%;
    }

    .about__img--big {
        width: 100%;
        border-radius: 15px;
        margin: 20px auto;
    }

    .about-content {
        width: 90%;
        text-align: center;
    }

    /* 13. Code phần team */
    .team__list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .team-item__thumb {
        margin: 0 auto;
    }

    /* 14. Code phần install mobile */
    .install__img {
        display: none;
    }

    .install__content {
        width: 90%;
        margin: 0 auto;
    }

    /* 15. Code phần blog */
    .blog__inner {
        flex-direction: column-reverse;
        row-gap: 40px;
    }

    .blog-content {
        width: 90%;
        text-align: center;
    }

    .blog__control {
        justify-content: center;
    }

    /* 16. Code phần Appointment */
    .appointment__desc {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .footer-hidden-tablet {
        display: none;
    }

    .footer__top {
        grid-template-columns: 0.5fr 0.5fr 1fr;
    }

    /* 17. Code phần footer */
    .footer-hidden-tablet {
        display: none;
    }

    .footer__top {
        grid-template-columns: 0.5fr 0.5fr 1fr;
    }
}

/* Mobile */
@media (max-width: 767.98px) {
    .header__action {
        display: none;
    }

    .menu-header__icon {
        top: 17px;
        left: 20px;
    }

    .menu-drawer {
        padding: 26px;
        inset: 0 26% 0 0;
    }

    .navbar__item {
        list-style: none;
    }

    /* Thêm vạch kẻ ngang cta group */
    .separate {
        margin: 26px 0 12px;
        border: 1.2px solid #b3b1b3;
    }

    /* hero */
    .hero__img--small {
        display: none;
    }

    .hero__img--large {
        width: 100%;
        height: auto;
    }

    .hero__heading {
        font-size: 3.1rem;
        letter-spacing: 0;
    }

    .hero__desc {
        font-size: 1.5rem;
    }

    .hero__row {
        flex-direction: column;
        row-gap: 20px;
    }

    /* service */
    .service {
        margin: 0;
    }

    .section-heading {
        font-size: 3rem;
    }

    .section-desc {
        width: 95%;
        font-size: 1.6rem;
    }

    .service__img {
        width: 380px;
        height: 420px;
    }

    /* work */
    .work-item {
        padding: 16px;
        border: 12px solid #EAF6FF;
    }

    /* about */
    .about {
        margin: 0;
        padding-bottom: 46px;
    }

    /* team */
    .team__list {
        grid-template-columns: 1fr;
    }

    /* install mobile */
    .install {
        padding-top: 30px;
    }

    .install__inner {
        padding: 0 8px;
        height: 360px;
    }

    .install__heading {
        max-width: 100%;
    }

    .install__desc {
        font-size: 1.47rem;
    }

    /* blog */
    .blog {
        padding-top: 60px;
    }

    .blog__list {
        flex-direction: column;
        gap: 40px;
    }

    .blog-item {
        max-width: 320px;
    }

    .blog-item__thumb {
        width: 320px;
    }

    /* Appointment */
    .appointment {
        margin-top: 40px;
        padding: 0;
    }

    .appointment__inner {
        padding: 30px 6px;
    }

    /* footer */
    .footer__top {
        padding-top: 28px;
        grid-template-columns: 1fr;
        row-gap: 26px;
    }

    .footer__copyright {
        margin-top: 32px;
    }

    .footer__copyright-text {
        padding: 16px 0 30px;
    }
}